@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'GmarketSansMedium';
}
.wrapper{
    /*box-shadow: inset 0 0 20px red;*/
    background-color:  #ffc0cb;
    width: auto;
    height: auto;
    margin: 50px 50px;
    padding: 50px;
    border-radius: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;}
h1{ font-size: 20px;}
.contents li{
    transition: all 0.4s;
    background-image: url(별.png);
    background-repeat: no-repeat;
    background-size: 19px;
    padding: 0 23.6px;
    display: block;
    width: fit-content;
    list-style: none;
}
.contents li:hover{
    background-image: url(별2.jpg);
    background-color: pink;
    font-weight: bold;
}
.sectionWorkspace{
    box-shadow: inset 0 0 20px white;
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
}
.sectionFriends{
    box-shadow: inset 0 0 20px white;
    border-radius: 10px;
    padding:10px;
    margin: 10px 0px;
}